

*{background-color: #ddadff;

  }

img{
  float:left;
}

.big-area{

  margin: 0 10px 0 0;
  padding: 10px;
  background: #999;
}

.small-unit{
  float: left;
  width: 675px;
  height: 500px;
  color: #fff;
  background: #ffc6eb;
  margin: 15px;
  padding: 15px;
}
